<div class="RecipeDetailsWrapper">
  <div class="RecipeWrapper">
    <div class="RecipeImgDescIngWrapper">
      <div class="RecipeImageDescContainer">
        <div class="RecipeImage">
          <div class="RecipeImageFade"></div>
          <img class="RecipeImage" src="{{ getRecipeImage() }}" />
          <div class="RecipeTitleTimerWrapper">
            <span class="RecipeDetailsTime">{{ getRecipeTime() }}</span>
            <span class="RecipeDetailsTitle">{{ getRecipeTitle() }}</span>
          </div>
        </div>
        <div class="RecipeDescContainer">{{ getRecipeDescription() }}</div>
      </div>
      <div class="IngredientsContainer">
        <div class="ButtonOutterContainer">
          <div class="ButtonContainer">
            <button type="button" class="btn btn-primary" disabled>Edit</button>
          </div>
          <div class="ButtonContainer">
            <button
              type="button"
              class="btn btn-primary"
              (click)="deleteRecipe()"
            >
              Delete
            </button>
          </div>
        </div>

        <div class="IngredientsTitle">Ingredients</div>
        <ng-container *ngFor="let ingredient of recipeIngredients">
          <ul>
            <div class="QuantityIngredientWrapper">
              <li class="QuantityIngredientContainer">
                <div class="QuantityContainer">{{ ingredient.quantity }}</div>
                <div class="IngredientContainer">
                  {{ ingredient.ingredient }}
                </div>
              </li>
            </div>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="RecipePreparingWrapper">
      <div class="PreparingTitle">Preparing</div>
      <ul>
        <li
          *ngFor="let preparing of recipePreparings"
          class="RecipePreparingContainer"
        >
          {{ preparing.step }}
        </li>
      </ul>
    </div>
  </div>
</div>
