<div class="recipe__details__wrapper">
  <div class="recipe__wrapper">
    <div class="recipe__img__desc__ing__wrapper">
      <div class="recipe__image__desc__container">
        <div class="recipe__image">
          <div class="recipe__image__fade"></div>
          <img class="recipe__image" src="{{ getRecipeImage() }}" />
          <div class="recipe__title__timer__wrapper">
            <span class="recipe__details__time">{{ getRecipeTime() }}</span>
            <span class="recipe__details__title">{{ getRecipeTitle() }}</span>
          </div>
        </div>
        <div class="recipe__desc__container">{{ getRecipeDescription() }}</div>
      </div>
      <div class="ingredients__container">
        <div class="button__outter__container">
          <div class="button__container">
            <button type="button" class="btn btn-primary" disabled>Edit</button>
          </div>
          <div class="button__container">
            <button
              type="button"
              class="btn btn-primary"
              (click)="deleteRecipe()"
            >
              Delete
            </button>
          </div>
        </div>

        <div class="ingredients__title">Ingredients</div>
        <ng-container *ngFor="let ingredient of recipeIngredients">
          <ul>
            <div class="quantity__ingredient__wrapper">
              <li class="quantity__ingredient__container">
                <div class="quantity__container">{{ ingredient.quantity }}</div>
                <div class="ingredient__container">
                  {{ ingredient.ingredient }}
                </div>
              </li>
            </div>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="recipe__preparing__wrapper">
      <div class="preparing__title">Preparing</div>
      <ul>
        <li
          *ngFor="let preparing of recipePreparings"
          class="recipe__preparing__container"
        >
          {{ preparing.step }}
        </li>
      </ul>
    </div>
  </div>
</div>
