$PrimaryColor: #ffbb00;
// Main wrapper
.AddRecipeWrapper {
  height: auto;
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    width: 75vw;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 95vw;
  }
}

.AddRecipeTitle {
  margin-top: 20px;
  width: 100%;
  height: 7vh;
  span {
    font-size: 25px;
    font-weight: 700;
  }
}

.BasicInfoIngredientsWrapper {
  display: flex;
  .mat-error {
    position: relative;
    display: inline;
    bottom: 1px;
  }
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    flex-direction: column;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    flex-direction: column;
  }
}

.BasicInfoWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  span {
    margin: 2rem 0;
    font-size: 22px;
    width: 100%;
  }
  mat-select {
    color: $PrimaryColor;
  }
  :nth-child(2) {
    margin-bottom: 0.3rem;
  }
  :nth-child(3) {
    margin-bottom: 0.3rem;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 95vw;
  }
}
.TitleTimeContainer {
  width: 15vw;
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    width: 31vw;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 55vw;
  }
}
.DescriptionContainer {
  width: 28vw;
  textarea {
    height: 12vh;
    resize: none;
  }
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    width: 55vw;
    textarea {
      height: 29vh;
    }
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 95vw;
    textarea {
      height: 38vh;
    }
  }
}
.MessageValueLength {
  width: 28vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 20px;
  font-size: 0.8rem;
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    width: 55vw;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 95vw;
  }
}
.UploadImageButton {
  width: 15vw;
  position: relative;
  bottom: 5px;
  button {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    &:focus {
      outline: none;
    }
  }
}
.ImageContainer {
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    width: 18vw;
    height: 14vw;
    border-radius: 10px;
  }
  span {
    display: block;
    margin: 0 0 1.5rem 0;
  }
}

.IngredientsWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  span {
    margin: 2rem 0;
    font-size: 22px;
    width: 100%;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 100%;
  }
}
.QuantityNameWrapper {
  display: flex;

  :first-child {
    margin-right: 7%;
    width: 6vw;
    input {
      width: 100%;
    }
  }
  :nth-child(2) {
    width: 15vw;
    input {
      width: 100%;
    }
  }
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    :first-child {
      width: 12vw;
    }
    :nth-child(2) {
      width: 22vw;
    }
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    :first-child {
      width: 26vw;
    }
    :nth-child(2) {
      width: 69vw;
    }
  }
}
.QuantityNameWrapperFor {
  display: flex;
  margin-top: 1rem;
  ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
    position: relative;
    bottom: 10px;
  }
  :first-child {
    margin-right: 7%;
    width: 6vw;
    input {
      width: 100%;
    }
  }
  :nth-child(2) {
    width: 15vw;
    input {
      width: 100%;
    }
  }
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    :first-child {
      width: 12vw;
    }
    :nth-child(2) {
      width: 22vw;
    }
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    :first-child {
      width: 26vw;
    }
    :nth-child(2) {
      width: 69vw;
    }
  }
}
.IngredientsButton {
  display: flex;
  justify-content: flex-end;
  width: 23vw;
  position: relative;
  bottom: -10px;
  button {
    width: 5vw;
    font-size: 1.1rem;
    padding: 0.4rem 0.8rem;
    &:focus {
      outline: none;
    }
  }
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    width: 36vw;
    button {
      width: 10vw;
    }
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 95vw;
    button {
      width: 29vw;
    }
  }
}
.PreparingWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  span:first-child {
    margin: 2rem 0 1rem 0;
    font-size: 22px;
  }
  ::ng-deep.mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0;
  }
  button {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    margin-bottom: 0.8rem;
    &:focus {
      outline: none;
    }
  }
  ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
    position: relative;
    bottom: 10px;
  }
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    span:first-child {
      margin: 2rem 0 4rem 0;
      position: relative;
      bottom: -12px;
      font-size: 22px;
    }
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    span:first-child {
      margin: 2rem 0 4rem 0;
      position: relative;
      bottom: -12px;
      font-size: 22px;
    }
  }
}
.PreparingFieldContainer {
  width: 100%;
  margin-left: 1.5rem;
  textarea {
    height: 6.5vh;
    resize: none;
  }
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    textarea {
      width: 100%;
      height: 21.5vh;
      resize: none;
    }
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    textarea {
      width: 100%;
      height: 21.5vh;
      resize: none;
    }
  }
}
.StepNumberContainer {
  position: relative;
  bottom: 1vh;
  margin: 0 2rem 0 0;
  width: 0.5rem;
  font-size: 22px;
}
.StepWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 2rem;
  height: 8vh;
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    width: 50vw;
    margin-bottom: 7rem;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 95vw;
    margin-bottom: 7rem;
  }
}
.PreparingButtonContainer {
  width: 94%;
  display: flex;
  justify-content: flex-end;
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    width: 47vw;
    position: relative;
    top: -50px;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 95vw;
    position: relative;
    top: -50px;
    justify-content: center;
  }
}
.StepLowerWrapper {
  width: 94%;
  display: flex;
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 100%;
  }
}
.SubmitButtonContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  button {
    font-size: 1.5rem;
    padding: 0.6rem 1rem;
    margin-bottom: 1.2rem;
    &:focus {
      outline: none;
    }
  }
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    width: 45vw;
    button {
      font-size: 1.5rem;
      position: relative;
      bottom: 2rem;
    }
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    width: 95vw;
    button {
      font-size: 1.5rem;
      position: relative;
    }
  }
}
mat-error {
  position: relative;
  right: 10px;
}
::ng-deep.mat-form-field-ripple {
  background-color: $PrimaryColor;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}
::ng-deep.mat-form-field-ripple {
  background-color: $PrimaryColor !important;
}
::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: black !important;
  font-size: 17px;
}
::ng-deep.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $PrimaryColor;
}
