<div class="AddRecipeWrapper">
  <div class="AddRecipeTitle"><span>Add recipe</span></div>
  <div class="BasicInfoIngredientsWrapper">
    <div class="BasicInfoWrapper">
      <span>Basic information</span>
      <!-- Title -->
      <mat-form-field
        appearance="fill"
        class="TitleTimeContainer"
        [formGroup]="BasicInformationForm"
      >
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="titleInput" formControlName="title" />
        <mat-error
          *ngIf="BasicInformationForm.controls.title.hasError('required')"
        >
          Title cannot be <strong>empty</strong>
        </mat-error>
      </mat-form-field>
      <!-- Time -->
      <mat-form-field
        appearance="fill"
        class="TitleTimeContainer"
        [formGroup]="BasicInformationForm"
      >
        <mat-label>Time</mat-label>
        <mat-select [(ngModel)]="selectedLevel" formControlName="time">
          <mat-option *ngFor="let time of timeOptions" [value]="time.value">
            {{ time.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="BasicInformationForm.controls.time.hasError('required')"
        >
          Time must be <strong>selected</strong>
        </mat-error>
      </mat-form-field>
      <!-- Description -->
      <mat-form-field
        appearance="fill"
        class="DescriptionContainer"
        [formGroup]="BasicInformationForm"
      >
        <mat-label>Description</mat-label>
        <textarea
          #desc
          matInput
          maxlength="350"
          [(ngModel)]="descriptionInput"
          formControlName="description"
          (input)="limitLines($event, 6)"
        ></textarea>
        <mat-error
          *ngIf="BasicInformationForm.controls.description.hasError('required')"
        >
          Description cannot be <strong>empty</strong>
        </mat-error>
      </mat-form-field>
      <div class="MessageValueLength">{{ desc.value.length }} / 350</div>
      <!-- Image -->
      <div *ngIf="imageUploaded" class="ImageContainer">
        <span>Image</span>
        <img src="{{ recipeToAdd.image }}" />
      </div>
      <div *ngIf="!imageUploaded" class="UploadImageButton">
        <button mat-raised-button (click)="fileInput.click()">
          Choose image
          <input
            #fileInput
            type="file"
            (change)="uploadImage($event)"
            style="display: none;"
          />
        </button>
      </div>
    </div>
    <!-- Ingrediens -->
    <div class="IngredientsWrapper">
      <span>Ingredients</span>
      <div class="QuantityNameWrapper" [formGroup]="FirstIngredientsForm">
        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input
            matInput
            [(ngModel)]="firstQuantity"
            maxlength="10"
            formControlName="firstQuantityControl"
          />
          <mat-error
            *ngIf="
              FirstIngredientsForm.controls.firstQuantityControl.hasError(
                'required'
              )
            "
          >
            Quantity cannot be <strong>empty</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            [(ngModel)]="firstIngredientName"
            maxlength="28"
            formControlName="firstNameControl"
          />
          <mat-error
            *ngIf="
              FirstIngredientsForm.controls.firstNameControl.hasError(
                'required'
              )
            "
          >
            Ingredient name cannot be <strong>empty</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div [formGroup]="formGroup">
        <div
          formArrayName="IngredientsArr"
          class="QuantityNameWrapperFor"
          *ngFor="let ingredientGroup of getIngredientControls(); let i = index"
        >
          <mat-form-field appearance="fill" [formGroup]="ingredientGroup">
            <input
              matInput
              maxlength="12"
              formControlName="QuantityControl"
              [(ngModel)]="ingredients[i].quantity"
            />
            <mat-error
              *ngIf="
                ingredientGroup.controls.QuantityControl.hasError('required')
              "
            >
              Quantity cannot be <strong>empty</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" [formGroup]="ingredientGroup">
            <input
              matInput
              maxlength="30"
              formControlName="NameControl"
              [(ngModel)]="ingredients[i].name"
            />
            <mat-error
              *ngIf="ingredientGroup.controls.NameControl.hasError('required')"
            >
              Ingredient name cannot be <strong>empty</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="IngredientsButton">
        <button mat-raised-button (click)="addIngredient()">
          Add next
        </button>
      </div>
    </div>
  </div>
  <div class="PreparingWrapper" [formGroup]="formGroup">
    <span>Preparing</span>
    <mat-list role="list" formArrayName="PreparingArr">
      <div
        class="StepWrapper"
        *ngFor="let prepareGroup of getPrepareControls(); let i = index"
      >
        <mat-list-item>
          <div class="StepLowerWrapper">
            <span class="StepNumberContainer">{{ i + 1 }}.</span>
            <mat-form-field
              appearance="fill"
              class="PreparingFieldContainer"
              [formGroup]="prepareGroup"
            >
              <textarea
                #desc
                matInput
                maxlength="200"
                (input)="limitLines($event, 3)"
                [(ngModel)]="preparing[i].stepName"
                formControlName="StepControl"
              ></textarea>
              <mat-error
                *ngIf="prepareGroup.controls.StepControl.hasError('required')"
              >
                Preparing step cannot be <strong>empty</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-list-item>
      </div>
    </mat-list>
    <div class="PreparingButtonContainer">
      <button mat-raised-button (click)="addStep(preparing.length)">
        Next step
      </button>
    </div>
  </div>
  <div class="SubmitButtonContainer">
    <button mat-raised-button (click)="addRecipe()">
      Submit
    </button>
  </div>
</div>
