<div class="AddRecipeWrapper">
  <section class="UpperHeadline">
    <span>Add recipe</span>
  </section>
  <section class="BottomHeadline">
    <span class="BottomText">Basic information</span>
    <span *ngIf="!mobileMode" class="BottomTextIng">Ingredients</span>
  </section>
  <div class="TotalWrap">
    <div class="InfoIngredientsWrapper">
      <div class="BasicInfoWrapper">
        <form>
          <div class="TitleTimeTypeContainer">
            <div class="SmallObjectWrapper">
              <label>Title</label>
              <input
                type="text"
                class="form-control"
                id="SizeControlTitle"
                [(ngModel)]="titleInput"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="TimeTypeWrapper">
              <div class="SmallObjectWrapper">
                <label>Time</label>
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="SizeControlTime"
                  [(ngModel)]="timeInput"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="TypeWrapper">
                <select
                  class="form-control"
                  id="SizeControlType"
                  [(ngModel)]="selectedLevel"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option
                    class="OptionContainer"
                    *ngFor="let type of selectTimeType"
                    [ngValue]="type"
                    >{{ type.value }}</option
                  >
                </select>
              </div>
            </div>
          </div>
        </form>

        <div class="TextareaContainer">
          <label>Description</label>
          <textarea
            [(ngModel)]="descriptionInput"
            class="form-control"
            rows="3"
          ></textarea>
        </div>

        <button
          (click)="fileInput.click()"
          class="btn btn-primary"
          *ngIf="!imageUploaded"
        >
          Upload image
          <input
            #fileInput
            type="file"
            (change)="uploadImage($event)"
            style="display: none;"
          />
        </button>
        <div class="RecipeUploadedImageContainer" *ngIf="imageUploaded">
          <span>Uploaded image</span>
          <img src="{{ getRecipeUploadedImage() }}" />
        </div>
      </div>
      <div class="IngredientsWrapper">
        <span *ngIf="mobileMode" class="BottomTextIng">Ingredients</span>

        <div class="QuantityNameWrapper">
          <span class="QuantityContainer">Quantity</span>
          <span class="IngrendientNameContainer">Name</span>
        </div>
        <div
          *ngFor="let ingredient of ingredients; let i = index"
          class="QuantityNameInputs_Wrapper"
        >
          <div class="QuantityInputContainer">
            <input
              type="text"
              class="form-control"
              id="SizeControlQuantityInput"
              [(ngModel)]="ingredients[i].quantity"
            />
          </div>
          <div class="IngredientNameInputContainer">
            <input
              type="text"
              class="form-control"
              id="SizeControlNameInput"
              [(ngModel)]="ingredients[i].name"
            />
          </div>
        </div>
        <div class="AddNextIngredientButton">
          <button
            type="button"
            id="SizeControlIngredientButton"
            class="btn btn-primary"
            (click)="addIngredient()"
          >
            Add next
          </button>
        </div>
      </div>
    </div>
    <div class="PreparingWrapper">
      <div class="BottomTextLast">Preparing</div>
      <div>
        <ul>
          <li
            *ngFor="let step of preparing; let i = index"
            class="StepContainer"
          >
            <textarea
              class="form-control"
              id="SizeControlStepInput"
              [(ngModel)]="preparing[i].stepName"
              rows="3"
            ></textarea>
          </li>
        </ul>
      </div>
      <div class="NextStepButton">
        <button
          type="button"
          id="SizeControlPreparingButton"
          class="btn btn-primary"
          (click)="addStep(preparing.length)"
        >
          Next step
        </button>
      </div>
    </div>
    <section class="SubmitSectionContainer">
      <div *ngIf="!mobileMode" class="col text-center">
        <button
          type="button"
          id="SizeControlSubmitButton"
          class="btn btn-primary"
          (click)="addRecipe()"
        >
          Submit
        </button>
      </div>
      <button
        *ngIf="mobileMode"
        type="button"
        id="SizeControlSubmitButton"
        class="btn btn-primary"
        (click)="addRecipe()"
      >
        Submit
      </button>
    </section>
  </div>
</div>
