<div class="HomeRecipes">
  <section class="Headline">
    <span>Latest recipes</span>
  </section>
  <section class="LatestRecipesImages">
    <div class="RecipeOutterContainer">
      <div
        routerLink="/details"
        (click)="getRecipeDetails(getRecipeIndex(0))"
        class="NewRecipeImgContainer"
      >
        <img class="NewRecipeImgContainer" src="{{ getRecipeImage(0) }}" />
      </div>
      <span class="RecipeTime">{{ getRecipeTime(0) }}</span>
      <span class="RecipeTitle">{{ getRecipeTitle(0) }}</span>
    </div>

    <div class="RecipeOutterContainer">
      <div
        (click)="getRecipeDetails(getRecipeIndex(1))"
        class="OldRecipeImgContainer"
      >
        <img class="OldRecipeImgContainer" src="{{ getRecipeImage(1) }}" />
      </div>
      <span class="RecipeTime">{{ getRecipeTime(1) }}</span>
      <span class="RecipeTitle">{{ getRecipeTitle(1) }}</span>
    </div>
    <div class="RecipeOutterContainer">
      <div
        (click)="getRecipeDetails(getRecipeIndex(2))"
        class="OldRecipeImgContainer"
      >
        <img class="OldRecipeImgContainer" src="{{ getRecipeImage(2) }}" />
      </div>
      <span class="RecipeTime">{{ getRecipeTime(2) }}</span>
      <span class="RecipeTitle">{{ getRecipeTitle(2) }}</span>
    </div>
  </section>
</div>
