<div class="HomeRecipes">
  <section class="Headline">
    <span>Latest recipes</span>
  </section>
  <section class="LatestRecipesImages">
    <div class="RecipeOutterContainer">
      <div
        routerLink="/details"
        (click)="onSelect(latestRecipes[0]?.recipeId)"
        class="NewRecipeImgContainer"
      >
        <img
          class="NewRecipeImgContainer"
          src="{{ latestRecipes[0]?.image }}"
        />
      </div>
      <span class="RecipeTime">{{ latestRecipes[0]?.time }}</span>
      <span class="RecipeTitle">{{ latestRecipes[0]?.title }}</span>
    </div>

    <div class="RecipeOutterContainer">
      <div
        (click)="onSelect(latestRecipes[1]?.recipeId)"
        class="OldRecipeImgContainer"
      >
        <img
          class="OldRecipeImgContainer"
          src="{{ latestRecipes[1]?.image }}"
        />
      </div>
      <span class="RecipeTime">{{ latestRecipes[1]?.time }}</span>
      <span class="RecipeTitle">{{ latestRecipes[1]?.title }}</span>
    </div>
    <div class="RecipeOutterContainer">
      <div
        (click)="onSelect(latestRecipes[2]?.recipeId)"
        class="OldRecipeImgContainer"
      >
        <img
          class="OldRecipeImgContainer"
          src="{{ latestRecipes[2]?.image }}"
        />
      </div>
      <span class="RecipeTime">{{ latestRecipes[2]?.time }}</span>
      <span class="RecipeTitle">{{ latestRecipes[2]?.title }}</span>
    </div>
  </section>
</div>
