<div class="home__recipes">
  <section class="headline">
    <span>Latest recipes</span>
  </section>
  <section class="latest__recipes__images">
    <div class="recipe__outter__container">
      <div
        (click)="getRecipeDetails(getRecipeIndex(0))"
        class="new__recipe__img__container"
      >
        <img
          class="new__recipe__img__container"
          src="{{ getRecipeImage(0) }}"
        />
      </div>
      <span class="recipe__time">{{ getRecipeTime(0) }}</span>
      <span class="recipe__title">{{ getRecipeTitle(0) }}</span>
    </div>

    <div class="recipe__outter__container">
      <div
        (click)="getRecipeDetails(getRecipeIndex(1))"
        class="old__recipe__img__container"
      >
        <img
          class="old__recipe__img__container"
          src="{{ getRecipeImage(1) }}"
        />
      </div>
      <span class="recipe__time">{{ getRecipeTime(1) }}</span>
      <span class="recipe__title">{{ getRecipeTitle(1) }}</span>
    </div>
    <div class="recipe__outter__container">
      <div
        (click)="getRecipeDetails(getRecipeIndex(2))"
        class="old__recipe__img__container"
      >
        <img
          class="old__recipe__img__container"
          src="{{ getRecipeImage(2) }}"
        />
      </div>
      <span class="recipe__time">{{ getRecipeTime(2) }}</span>
      <span class="recipe__title">{{ getRecipeTitle(2) }}</span>
    </div>
  </section>
</div>
